@inject IRecipesService recipesService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler


@if (recipe is null)
{
    <div class="text-xxl text-center">Loading...</div>
}
else if (recipe.RecipeId == RecipeId)
{
    <div class="row bg-custom-primary ingredient-display my-5 pb-5" id="viewrecipe">
        <div class="text-xl fw-bold text-center mt-4">@recipe.Name</div>
        <div class="col-md-8 text-center mt-5">
            @recipe.Instructions
            <img src="@recipe.ImagePath" class="full-sized-image mx-auto d-block rounded-3 mt-5" alt="Dish Image">
        </div>
        <div class="col-md-3 offset-md-1 mt-5">
            <ul class="list-unstyled">
                @foreach (var i in recipe.RecipeIngredients)
                {
                    <li class="small m-2 ingredient-display bg-light m-3 p-2">
                        <i class="fa-solid fa-wheat-awn"></i> @i.Amount @i.Unit @i.IngredientName
                    </li>
                }
            </ul>
        </div>
    </div>
}


@code {
    private RecipeModel? recipe;
    [Parameter]
    public int RecipeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recipe = await recipesService.GetAsync(RecipeId);
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }
}
