@inject IRecipesService RecipesService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler


@if (recipe is null)
{
    <div class="text-xxl text-center">Loading...</div>
}
else if (recipe != null)
{
    <div class="row bg-custom-primary ingredient-display view-recipe-card my-5 pb-5 mx-lg-3 mx-1" id="viewrecipe">
        <div class="col-12 text-xl fw-bold text-center mt-4">
            @recipe.Name
        </div>
        <div class="offset-lg-1 col-lg-5 mt-5 text-center">
            @recipe.Instructions <br>
            <img class="view-recipe-image mt-4 px-md-5" src="@recipe.ImageUrl">
        </div>
        <div class="offset-lg-1 col-lg-2 col-sm-12 mt-5">
            <ul class="list-unstyled">
                @foreach (var i in firstHalfIngredients)
                {
                    <li class="small m-2 ingredient-display bg-light m-3 p-2">
                        <i class="fa-solid fa-wheat-awn"></i> &nbsp; @i.Amount @i.Unit @i.Name
                    </li>
                }
            </ul>
        </div>
        <div class="col-lg-2 col-sm-12 mt-md-5">
            <ul class="list-unstyled">
                @foreach (var i in secondHalfIngredients)
                {
                    <li class="small m-2 ingredient-display bg-light m-3 p-2">
                        <i class="fa-solid fa-wheat-awn"></i> &nbsp; @i.Amount @i.Unit @i.Name
                    </li>
                }
            </ul>
        </div>
    </div>
}


@code {
    [Parameter]
    public Recipe recipe { get; set; }
    List<Ingredient> firstHalfIngredients = new();
    List<Ingredient> secondHalfIngredients = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {

            var halfCount = recipe.Ingredients.Count / 2;

            firstHalfIngredients = recipe.Ingredients.Take(halfCount).ToList();
            secondHalfIngredients = recipe.Ingredients.Skip(halfCount).ToList();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }
}
